<section class="thirdPartyLogin">
  <aside class="arrow">Sign in (or sign up) with an account you already have</aside>

  <%= link_to "/auth/facebook", class: "fbLink" do %>
    <i class="icon-facebook" aria-hidden="true" role="presentation"></i> Login with Facebook
  <% end %>

  <%= link_to "/auth/twitter", class: "twitterLink" do %>
    <i class="icon-twitter-bird" aria-hidden="true" role="presentation"></i> Login with Twitter
  <% end %>

  <small>(Used solely for login purposes. We'll never post on your behalf.)</small>
</section>

<% if flash[:email_required] %>
 <div id='emailDialog' class='hide'>
 <p>Please enter your <span class='highlight'>email address</span> to finish creating your account</p>
 <%= form_tag sessions_provide_email_path, method: :post, remote: true %>
    <%= hidden_field :user, :id, value: flash[:user_id] %>
    <%= hidden_field :user, :provider, value: flash[:provider] %>
    <%= label_tag 'email', 'Email address', for: 'user_email', class: 'screenReaderOnly' %>
    <%= email_field :user, :email, required: true %>
	  <%= submit_tag 'Sign in', data: { disable_with: 'Signing you in…' } %>
    <small><a href='/privacy.html' target='_blank'>Your email is used solely for login purposes</a></small>
  </form>
  </div>
<% end %>