<h2>Sign in</h2>
<%= form_tag session_path do %>
	<div class="inputWrapper">
		<%= label_tag 'email', 'Email' %>
		<%= text_field_tag :email %>
	</div>
	<div class="inputWrapper">
		<%= label_tag 'password', 'Password' %>
		<%= password_field_tag :password %>
	</div>
	<%= submit_tag 'Sign In', disable_with: 'Signing you in...' %>
<% end %>

<h2>Sign up</h2>
<%= form_for @user do |form| %>
  <% if @user.errors.any? %>
		<div id="error">
			<h3>Whoops... There were <%= pluralize(@user.errors.count, "error") %>.</h3>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="inputWrapper">
		<%= form.label :email %>
		<%= form.email_field :email, size: 40 %>
	</div>
	<div class="inputWrapper">
		<%= form.label :password %>
		<%= form.password_field :password %>
	</div>
	<%= submit_tag 'Sign Up', disable_with: 'Signing you up...' %>
<% end %>
