<h2>Sign in</h2>
<%- form_tag session_path do -%>
	<%= label_tag 'email', 'Email' %>
	<%= text_field_tag :email %>
	<%= label_tag 'password', 'Password' %>
	<%= password_field_tag :password %>
	<%= submit_tag 'Sign In', :disable_with => 'Signing you in...' %>
<%- end -%>

<h2>Sign up</h2>
<%- form_for @user do |form| -%>
  <%= form.error_messages %>
	<%= form.label :email %>
	<%= form.text_field :email %>
	<%= form.label :password %>
	<%= form.password_field :password %>
	<%= submit_tag 'Sign Up', :disable_with => 'Signing you up...' %>
<%- end -%>
