<h2>Your Account</h2>

<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>

<section>
	<h3 class="rule">Change your password</h3>
	<%= form_for @user do |form| %>
		<div class="inputWrapper">
			<%= form.label :password, 'Password' %>
			<%= form.password_field :password %>
		</div>
			<%= submit_tag 'Save', data: { disable_with: 'Saving…' } %>
	<% end %>
</section>

<section>
	<h3 class="rule">Close up shop here</h3>
	<%= link_to "Delete your account", user_path(@user), data: { confirm: "Are you sure?" }, method: "delete", class: "delete" %>
</section>
