<h2>Set A New Password</h2>

<%= form_tag set_new_password_user_path(@user) do %>
	<div class="inputWrapper">
		<%= label_tag 'password', 'New Password' %>
		<%= password_field_tag :password %>
		<%= hidden_field_tag 'token', params[:token] %>
	</div>
	<%= submit_tag 'Save', data: { disable_with: 'Saving...' } %>
<% end %>
