<div id="<%= video.id %>" class="video" data-page="<%= @page %>">
	<span class="title">
		<%= video.title %>
	</span>
	<div class="content <%= video.source %>">
		<%= raw video.embed_element %>
		<%= link_to "Favorite", toggle_fave_video_path(video), 
					class: "fave" + ((video.favorited) ? " selected" : ""), 
					title: "Favorite this video",
					remote: true,
					method: :post
		%>
	</div>
	<span class="aux">
		<span class="date"><%= created_date(video.created_at) %></span>
		<span class="actions">
			<%= link_to "Delete", video_path(video), class: "delete", title: "Delete", confirm: "Are you sure?", method: :delete, remote: true %>
			<%= link_to "Share", "javascript:void(0)", class: "share", title: "Share" %>
			<%= render partial: "share", locals: { videoUrl: video.link(), sourceUrl: video.webpageUrl } %>
		</span>
	</span>
	<span class="tags">
		<%= form_tag set_tags_video_path(video) do %>
			<label>Tags
      <textarea name="tags" class="tagEntry" rows="1" data-tags="<%= video.tags.join(',') %>"></textarea>
      </label>
			<span class="tip highlight hide"><b>Protip:</b> Separate tags with comma, tab, or enter.</span>
      <input type="submit" value="Submit" class="screenReaderOnly"/>
		<% end %>
	</span>
</div>
