<div id="<%= video.id %>" class="video" data-page="<%= @page %>">
	<span class="title">
		<%= video.title %>
	</span>
	<div class="content <%= video.source %>">
		<% if video.embed? %>
		<video src="<%= video.video_url %>" controls preload="none" poster="<%= video.poster %>">
			Your browser doesn't support this type of video :(
		</video>
		<% else %>
		<iframe src='<%= video.embed_url %>' allowfullscreen></iframe>
		<% end %>
		<%= link_to toggle_fave_video_path(video),
					class: "fave" + ((video.favorited) ? " selected" : ""),
					title: "Favorite this video",
					remote: true,
					method: :post do
		%>
			<span class="screenReaderOnly">Favorite</span>
		<% end %>
	</div>
	<span class="aux">
		<span class="date" title="<%= full_date(video.created_at) %>"><%= created_date(video.created_at) %></span>
		<span class="actions">
			<%= link_to video_path(video), class: "action delete icon-trash", title: "Delete", data: { confirm: "Are you sure?" }, method: :delete, remote: true do %>
				<span class="screenReaderOnly">Delete</span>
			<% end %>
			<%= link_to video_path(video), class: "action pip icon-popup", title: "Open in a new window" do %>
				<span class="screenReaderOnly">Open in a new window</span>
			<% end %>
			<%= link_to "javascript:void(0)", class: "action share icon-export", title: "Share" do %>
				<span class="screenReaderOnly">Share</span>
			<% end %>
			<%= render partial: "share", locals: { videoUrl: video.link(), sourceUrl: video.webpageUrl } %>
		</span>
	</span>
	<span class="tags">
		<%= form_tag set_tags_video_path(video) do %>
			<label>
				Tags
				<input type="text" name="tags" class="tagEntry" value="<%= video.tags.join(',') %>"/>
			</label>
			<input type="submit" value="Submit" class="screenReaderOnly"/>
		<% end %>
	</span>
</div>
