<div id="<%= video.id %>" class="video">
	<span class="title">
		<%= video.title %>
	</span>
	<div class="content">
		<%= raw video.embed %>
		<%= link_to "Favorite", toggle_fave_video_path(video), 
					class: "fave" + ((video.favorited) ? " selected" : ""), 
					title: "Favorite this video",
					remote: true,
					method: :post
		%>
	</div>
	<span class="aux">
		<span class="date"><%= video.created_at.strftime("%b %e") %></span>
		<span class="actions">
			<%= link_to "Delete", video_path(video), class: "delete", title: "Delete", confirm: "Are you sure?", method: :delete, remote: true %>
			<%= link_to "Share", "javascript:void(0)", class: "share", title: "Share" %>
			<%= render partial: "share", locals: { videoUrl: video.webpageUrl } %>
		</span>
	</span>
	<span class="tags">
		<span class="label">Tags</span>
		<%= video.tags.join(" ") %>
	</span>
</div>
