<div id="<%= video.id %>" class="video" data-page="<%= @page %>">
	<span class="title">
		<%= video.title %>
	</span>
	<div class="content <%= video.source %>">
		<% if video.embed? %>
		<video src="<%= video.video_url %>" controls preload="none" poster="<%= video.poster %>">
			Your browser doesn't support this type of video :(
		</video>
		<% else %>
		<iframe src='<%= video.embed_url %>' allowfullscreen></iframe>
		<% end %>
		<%= link_to toggle_fave_video_path(video),
					class: "fave" + ((video.favorited) ? " selected" : ""),
					title: "Favorite this video",
					remote: true,
					method: :post do
		%>
			<span class="screenReaderOnly">Favorite</span>
		<% end %>
	</div>
	<span class="aux">
		<span class="date"><%= created_date(video.created_at) %></span>
		<span class="actions">
			<%= link_to "Delete", video_path(video), class: "action delete icon-trash", title: "Delete", data: { confirm: "Are you sure?" }, method: :delete, remote: true %>
			<%= link_to "PIP", video_path(video), class: "action pip icon-popup", title: "Open in a new window" %>
			<%= link_to "Share", "javascript:void(0)", class: "action share icon-export", title: "Share" %>
			<%= render partial: "share", locals: { videoUrl: video.link(), sourceUrl: video.webpageUrl } %>
		</span>
	</span>
	<span class="tags">
		<%= form_tag set_tags_video_path(video) do %>
			<label>Tags
      <textarea name="tags" class="tagEntry" rows="1" data-tags="<%= video.tags.join(',') %>"></textarea>
      </label>
			<span class="tip highlight hide"><b>Protip:</b> Separate tags with comma, tab, or enter.</span>
      <input type="submit" value="Submit" class="screenReaderOnly"/>
		<% end %>
	</span>
</div>
