<div id="<%= video.id %>" class="video">
	<span class="title">
		<%= video.title %>
	</span>
	<div class="content">
		<%= raw video.embed %>
		<%= link_to "Favorite", toggle_fave_video_path(video), 
					class: "fave" + ((video.favorited) ? " selected" : ""), 
					title: "Favorite this video",
					remote: true,
					method: :post
		%>
	</div>
	<span class="aux">
		<span class="date"><%= video.created_at.strftime("%b %e") %></span>
		<span class="actions">
			<%= link_to "Delete", video_path(video), class: "delete", title: "Delete", confirm: "Are you sure?", method: :delete, remote: true %>
			<%= link_to "Share", "javascript:void(0)", class: "share", title: "Share" %>
			<%= render partial: "share", locals: { videoUrl: video.webpageUrl } %>
		</span>
	</span>
	<span class="tags">
		<span class="label">Tags</span>
		<ul>
		<% video.tags.map do |tag| %>
			<li class="tag"><%= tag %><%= link_to "×", remove_tag_video_path(video), class: "delete-tag", title: "Remove this tag", remote: true, method: :post %></li>
		<% end %>
			<li class="new">
				<%= form_tag add_tag_video_path(video) do %>
					<%= text_field_tag :tag %>
					<%= submit_tag 'Add Tag', disable_with: '' %>
				<% end %>
			</li>
		</ul>
	</span>
</div>
