<% content_for :rss do %>
  <%= auto_discovery_link_tag :atom, rss_path %>
<% end %>

<%= render partial: "heading", locals: { empty: @videos.empty?, rss: true } %>
<%= render partial: "nav", locals: { tags: @tags } %>

<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>

<% if @videos.empty? %>
<%= render partial: "shared/bookmarklet", locals: { heading: "Start saving videos while you browse the web." } %>
<% else %>
<section class="queue videoList">
	<%= render @videos %>
</section>
<% end %>