<h2>Your list</h2>
<% if @videos.empty? %>
	<h3>There's nothing here :|</h3>
<% end %>

<section class="queue">
<% @videos.each do |video| %>
	<div class="video">
		<span class="title">
			<%= video.title %>
		</span>
		<div class="content">
			<iframe src="<%= video.url %>" width="560" height="349" frameborder="0" allowfullscreen></iframe>
		</div>
		<span class="aux">
			<span class="date"><%= video.created_at.strftime("%b %e")%></span>
			<%= link_to "Share", video.webpageUrl, :class => "share" %>
			<%= link_to "Source", video.webpageUrl, :class => "source" %>
			<%= link_to "Delete", video_path(video), :confirm => "Are you sure?", :method => :delete, :class => "delete" %>
		</span>
	</div>
<% end %>
</section>