<%= render partial: "heading", locals: { empty: @videos.empty? } %>
<%= render partial: "nav", locals: { tags: @tags } %>

<% if notice %>
<div id="notice"><%= notice %></div>
<% end %>

<% if @videos.empty? %>
<%= render partial: "shared/bookmarklet", locals: { heading: "Start saving videos while you browse the web." } %>
<% else %>
<section class="queue videoList">
	<%= render @videos %>
</section>
<% end %>