<h2>Add a new video</h2>
<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @video do %>
	<div>
		<%= label_tag 'videoID', 'Video ID', class: 'screenReaderOnly' %>
		<%= text_field_tag :videoID, nil, placeholder: 'Video id' %>
	</div>
	<div>
		<%= label_tag 'webpageUrl', 'Website page URL', class: 'screenReaderOnly' %>
		<%= url_field_tag :webpageUrl, nil, placeholder: 'Webpage URL' %>
	</div>
	<div>
		<%= label_tag 'type', 'Type', class: 'screenReaderOnly' %>
		<%= text_field_tag :type, nil, placeholder: 'Type' %>
	</div>
	<div>
		<%= label_tag 'source', 'Source', class: 'screenReaderOnly' %>
		<%= text_field_tag :source, nil, placeholder: 'Source' %>
	</div>
	<%= submit_tag 'Add', data: { disable_with: 'Adding…' } %>
<% end %>