<%= render partial: "heading", locals: { 
			heading: @tag,
			videos: @videos,
			emptyMessage: "There's nothing here"
} %>

<nav>
	<%= link_to "All videos", videos_path %>
	<%= link_to "Favorites", faves_videos_path %>
	<%= link_to "Tags", tagged_videos_path %>
</nav>

<%= render partial: "tag_list" %>

<% if notice %>
  <div id="notice"><%= notice %></div>
<% end %>

<section class="queue videoList">
	<%= render @videos %>
</section>
