<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
  <title>Catchlater</title>
  <%= stylesheet_link_tag 'application' %>
	<link href="http://fonts.googleapis.com/css?family=Molengo:regular|News+Cycle" rel="stylesheet" type="text/css">
  <%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">
	<header>
		<h1><a href="/">CatchLater</a></h1>
		<span id="helloAgain">
			<% if current_user %>
			Hello, <%= link_to current_user.email, edit_user_path(current_user.id), :class => 'userLink' %>.
			<%= link_to "Sign out", signout_path, :class => 'signout' %>
			<% end %>
		</span>
	</header>
	<div id="main">
		<%= yield %>
	</div>
	<%= javascript_include_tag 'application' %>
</body>
</html>
