<!DOCTYPE html>
<html>
<head>
  <title>Catchlater</title>
  <%= stylesheet_link_tag :all %>
	<link href="http://fonts.googleapis.com/css?family=Molengo:regular|News+Cycle" rel="stylesheet" type="text/css">
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<h1><a href="/">CatchLater</a></h1>
		<span id="helloAgain">
			<% if currentUser %>
			Hello, <%= currentUser.email %>.
			<%= link_to "Sign out", signout_url %>
			<% end %>
		</span>
	</header>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
