<!DOCTYPE html>
<html>
  <%= render partial: "shared/head" %>
<body class="<%= controller.controller_name %>">
  <%= render partial: "shared/header" %>
	<div id="main">
		<%= yield %>
	</div>
  <%= render partial: "shared/footer" %>
	<%= javascript_include_tag 'application' %>
</body>
</html>
